.aside .nav li a:hover{
    color: #ec1839;
}

.about-text h3 span,
.aside .nav li a.active{
    color: #ec1839;
}
.aside .nav-toggler span{
    background-color: #ec1839;

}
.aside .nav-toggler span::before{
    background-color: #ec1839;
}
.aside .nav-toggler span::after{
    background-color: #ec1839;
}
.home .intro .social-link a{
    background-color: #ec1839;
}
.about-content .timeline .circle-dot,
.skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before{
    background-color: #ec1839;
}
.about-content .timeline .timeline-item::before{
    background-color: #ec1839;
}