.aside .nav li a:hover{
    color: #ec1839;
}
.aside  .nav-toggle span{
    background-color: #ec1839;
}
.aside  .nav-toggle span::before{
    color: #ec1839;
}
.aside .nav li a.active{
    color: #ec1839;
}